<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="htmx-config" content='{"includeIndicatorStyles":false}'>
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; style-src 'self'; img-src 'self' data:;">
    <link rel="stylesheet" type="text/css" href="./styles/styles.css" />
    <script src="./js/htmx.min.js" defer></script>
    
    <meta name="title" content="NTI Gymnasiet - Karlstad: Lunch" />
    <meta name="description" content="NTI Gymnasiet - Karlstad: Lunch Analytik" />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="" />
    <meta property="og:title" content="NTI Gymnasiet - Karlstad: Lunch" />
    <meta property="og:description" content="NTI Gymnasiet - Karlstad: Lunch Analytik" />
    <meta property="og:image" content="./assets/image.webp" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="" />
    <meta property="twitter:title" content="NTI Gymnasiet - Karlstad: Lunch" />
    <meta property="twitter:description" content="NTI Gymnasiet - Karlstad: Lunch Analytik" />
    <meta property="twitter:image" content="./assets/image.webp" />
    <link rel="icon" type="image/webp" href="./assets/image.webp" />
    <title> NTI Lunch </title>
    <noscript> 
      <h1> You need Javascript Enabled for this to work </h1>
      <p> I know, it's a bummer, but that's just how HTMX works, it's a javascript library, so we need javascript in order for this website to work correctly. </p>
      <p> Sorry. </p>
    </noscript>

  </head>
  <body>
    <header class="status-header-container">
      <h1 class="status-header" hx-get="/header" hx-swap="innerHTML" hx-target="this" hx-trigger="load"></h1> 
    </header> 

    <main>
      <section class="contents">
        <div class="info-container">
          <p class="visitor" hx-get="/body/visitor" hx-swap="innerHTML" hx-target="this" hx-trigger="load"></p>
          <p class="lasttime" hx-get="/body/last_time" hx-swap="innerHTML" hx-target="this" hx-trigger="load"></p>
          <p class="yourtime" hx-get="/body/your_time" hx-swap="innerHTML" hx-target="this" hx-trigger="load"></p>
        </div>
      </section> 
    </main>
    <footer>
      <section>
        Made with ❤ by 
        <a class="people" href="https://github.com/h4rldev" target="_blank">h4rl</a> 
        with help from 
        <a class="people" href="https://github.com/Intancote" target="_blank">Intancote</a>
      </section>
      <section class="credits">
        <p> This website is powered by </p>
        <ul class="credit-list">
          <li>
            <a href="https://ntex.rs" target="_blank" class="credit-icon">
              <span class="icon-[simple-icons--rust]"></span>
            </a>
          </li>
          <li>
            <a href="https://htmx.org" target="_blank" class="credit-icon">
              <span class="icon-[simple-icons--htmx]"></span>
            </a>
          </li>
        </ul>
      </section>
    </footer>
  </body>
</html>
